Python/.idea/
/JAVA/Leccion02/ArgumentosVariables/nbproject/private/
/JAVA/Leccion02/ArgumentosVariables/build/
/JAVA/Leccion02/ArgumentosVariables/dist/
/JAVA/Leccion02/enumeraciones/nbproject/private/
/JAVA/Leccion02/enumeraciones/build/
/JAVA/Leccion02/BloquesInicializacion/nbproject/private/
/JAVA/Leccion02/BloquesInicializacion/build/
/JAVA/Leccion03/ForEach/nbproject/private/
/JAVA/Leccion03/ForEach/build/
/JAVA/Leccion03/AutoboxingUnboxing/nbproject/private/
/JAVA/Leccion03/AutoboxingUnboxing/build/
/JAVA/Leccion03/ModificadoresAcceso/nbproject/private/
/JAVA/Leccion03/ModificadoresAcceso/build/
